<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>uprightMeadowReference</key>
    <string>FormalValidateHandy</string>
    <key>paintCozy</key>
    <string>SnapshotterFontOrganizer</string>
    <key>helperBrave</key>
    <string>UrbaneThreadedViewShuffle</string>
    <key>suiteTerrainJoyful</key>
    <string>HumbleImport</string>
</dict>
</plist>
