<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>parserEliteRealmAt</key>
    <string>MindGroupHandyFlagship</string>
    <key>holdCollectorBannerPeerless</key>
    <string>SnapshotInterpreter</string>
    <key>withinBinderNode</key>
    <string>MapLockExpand</string>
    <key>cleanMediaArtfulTransformer</key>
    <string>PushString</string>
    <key>highlightErrorMerrySelector</key>
    <string>MakeViewportRoundSnappyPreload</string>
    <key>visibleVisitor</key>
    <string>StencilKeyAction</string>
    <key>beginPreciousLedge</key>
    <string>FleetStoreEasy</string>
    <key>workflowAnimatorPluginDecisive</key>
    <string>WarehouseGraphConstructMeasureCreator</string>
    <key>generateBinary</key>
    <string>CreatorWisdomPlannerCache</string>
</dict>
</plist>
