<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>layoutTrustworthy</key>
    <string>MapFormatterCapture</string>
    <key>storeElevatedSurfaceFramework</key>
    <string>SpacerSyncHarness</string>
    <key>parserThinSpriteFinish</key>
    <string>CoralModifyThrottle</string>
    <key>gateCreativeResize</key>
    <string>ForwardEnqueueWatch</string>
    <key>circuitGraveThroughoutCollection</key>
    <string>EndDecoratorFill</string>
    <key>decentConfigure</key>
    <string>CanyonPrimaryLaunchChart</string>
    <key>trueCollection</key>
    <string>BelowRetreatBindCaptureCataloger</string>
</dict>
</plist>
