<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>everydaySendTransformable</key>
    <string>StoreDeltaPrompt</string>
    <key>refreshGraciousVessel</key>
    <string>TooltipSubtleRare</string>
    <key>templateCenterOutlinedOf</key>
    <string>StylerFitBeside</string>
</dict>
</plist>
