<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>localizeScheduler</key>
    <string>CancelFactoryMatch</string>
    <key>displayBasinTexture</key>
    <string>AssemblerDigitalStormImplement</string>
    <key>reservoirViewport</key>
    <string>HandsomeMakeTransform</string>
    <key>presenterMessagePresent</key>
    <string>ConsistentGridlineVisibleWait</string>
</dict>
</plist>
