<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workflowAnimatorCoherent</key>
    <string>SpotEntryTrueTooltip</string>
    <key>tupleBaseline</key>
    <string>ReplaceParcelInference</string>
    <key>decoderBalancerWorthyConsolidate</key>
    <string>StoneBackupDropInteractorTiny</string>
    <key>easyLotusAnalyze</key>
    <string>ScheduleApplyGrowing</string>
</dict>
</plist>
