<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>moveRusticWorkflowAnimator</key>
    <string>OrchestratorCollectionYearEarthCrestline</string>
    <key>interpreterLitheTerrain</key>
    <string>RotateTextCollectionCompute</string>
    <key>defineZealousDecode</key>
    <string>CarefulLocalCache</string>
    <key>quirkBind</key>
    <string>ClassicMapper</string>
    <key>dawnAerialFind</key>
    <string>HelperAlcoveEnqueueDapper</string>
</dict>
</plist>
