<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>terminalLitheThread</key>
    <string>DriveBelowSiteAgile</string>
    <key>brokerSmartApplyTexture</key>
    <string>WithAggregateEminentClose</string>
    <key>brokerMakeBasicChat</key>
    <string>TerminalRestoreQuirkSound</string>
    <key>neutralBlueprint</key>
    <string>GulfManage</string>
    <key>typeSafeHandlerConvert</key>
    <string>TransitContentCatalogerConsistent</string>
</dict>
</plist>
