<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>accelerateBroker</key>
    <string>LightmapHelperBrokerCalm</string>
    <key>captureStackWideCoordinator</key>
    <string>TimelineMindfulDainty</string>
    <key>viewportHistory</key>
    <string>WealthTransformGracefulSite</string>
    <key>coreCalculateVirtuous</key>
    <string>MaskSaveConsole</string>
    <key>crystalAnimateDefine</key>
    <string>IndexConvertPanel</string>
</dict>
</plist>
