<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>beforeDatasetter</key>
    <string>AmidAuroraStandSigner</string>
    <key>scenarioUniversal</key>
    <string>FontSurfaceSurface</string>
    <key>ornateDepotConverterReset</key>
    <string>OwnerLedgerInQuota</string>
    <key>modifySurfaceCompactParser</key>
    <string>DirectSuiteIntoResource</string>
</dict>
</plist>
