<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fragmentMask</key>
    <string>FairTeamRadiant</string>
    <key>applySteady</key>
    <string>DisplayPresenterValidateRotateSlice</string>
    <key>builderRoundFaintUpward</key>
    <string>AgentWindFallback</string>
    <key>forLevelResilient</key>
    <string>PresentConnectSecureInsert</string>
    <key>cacheModeShaderOrnate</key>
    <string>AggregateMacroPreloadCompute</string>
    <key>sleekStretchAboveFabric</key>
    <string>ReceiveDatasetterTaskView</string>
    <key>spatialSend</key>
    <string>KeyModifyFixGradientNeat</string>
</dict>
</plist>
