<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dropFileSplendidViewport</key>
    <string>SchedulerCreateFinish</string>
    <key>navigatePainterVigorous</key>
    <string>ScrollSandOnto</string>
    <key>cacheSunnyCoordinatorRetreat</key>
    <string>FillConstructShuffleReplace</string>
</dict>
</plist>
