<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>searchProjector</key>
    <string>ExactCivicAudio</string>
    <key>collectionLeap</key>
    <string>BesideDualDirect</string>
    <key>directPersistModel</key>
    <string>PausePaletteStyleElm</string>
    <key>converterCalibrateStripeGreen</key>
    <string>CanvasWirelessRate</string>
    <key>locatorDismissUpdater</key>
    <string>ThemeGradientVerse</string>
    <key>handlerSortMethod</key>
    <string>ReportDispatchFillConvert</string>
    <key>presentFluentOrigin</key>
    <string>LucidAssembleColumnNotebook</string>
</dict>
</plist>
