<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>optionBrokerRepaintValid</key>
    <string>WidgetMightyProjector</string>
    <key>lockFactory</key>
    <string>CoordinateLayoutBesideTranslate</string>
    <key>infiniteNavigator</key>
    <string>ImportTribeRound</string>
</dict>
</plist>
