<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>timelineFactory</key>
    <string>ToneDisplayImprovedHumor</string>
    <key>presenterEnableTrusty</key>
    <string>ScopeYieldingMobilePreview</string>
    <key>composerTerminal</key>
    <string>MapThrottleAssembler</string>
    <key>warehouseIntuitivePortrait</key>
    <string>KindredPresenterNamespaceValidate</string>
    <key>builderChainSend</key>
    <string>AcrossShare</string>
</dict>
</plist>
