<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>properPrintConsole</key>
    <string>MoveBuildZealous</string>
    <key>candidRegister</key>
    <string>GloriousLayoutNavigateLucent</string>
    <key>workbenchSand</key>
    <string>HealthyExpertPlaza</string>
    <key>duringJudicious</key>
    <string>FineTrailRemove</string>
    <key>shoreIdealSurfaceThrottle</key>
    <string>RenderComposerRugged</string>
    <key>swiftTerminalDirectoryBelow</key>
    <string>BackupOrderCancel</string>
    <key>dryDown</key>
    <string>ConductorAnalyzeOrganizer</string>
</dict>
</plist>
