<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handlerLoadRingPassive</key>
    <string>InConductorDeriveGenerous</string>
    <key>tupleOasisSkilledLock</key>
    <string>ShortcutSeaWatchBlendMark</string>
    <key>urbanInterpreterVisualize</key>
    <string>ReceiveGrowingListviewYoungTheme</string>
    <key>toneReference</key>
    <string>RegionShapeFixtureOverlay</string>
    <key>ledgerHardyDataSourceDispatch</key>
    <string>OntoResetRunCore</string>
    <key>layoutResetDecorator</key>
    <string>CalibrateBinderWholeTo</string>
    <key>selectorTruth</key>
    <string>RuggedManageOwlFormatter</string>
</dict>
</plist>
