<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>improvedSpeakSuite</key>
    <string>ResolverSystematicSpectrum</string>
    <key>upgradeSpectrumAbove</key>
    <string>ComposerPrismBelow</string>
    <key>readyThemeHubsetRestore</key>
    <string>SensorLaneImplement</string>
    <key>viewportRich</key>
    <string>ComposerReadRoundSystem</string>
    <key>fabricPastSecondary</key>
    <string>LandscapeCoderNotebookTrustworthy</string>
    <key>viewModelEnergetic</key>
    <string>HeartyImportToSmart</string>
</dict>
</plist>
