<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viewModelUnderLawful</key>
    <string>LayoutTrustTemplateDecoder</string>
    <key>structureCollectionMakeDistant</key>
    <string>UpDecoderCoordinator</string>
    <key>checkBundle</key>
    <string>WillingSelectIcon</string>
    <key>refreshSaver</key>
    <string>TacticAlign</string>
    <key>stylerQueryCreate</key>
    <string>ScanViaStand</string>
    <key>urbanWorkbench</key>
    <string>PersistByDispatch</string>
</dict>
</plist>
