<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>unifiedBlend</key>
    <string>PersistCompareListenerFill</string>
    <key>definedFormatterCreek</key>
    <string>WithEnableResolverLogic</string>
    <key>spriteCollectorCheckExpert</key>
    <string>ImplementInterpreterFormatterWorth</string>
</dict>
</plist>
