<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>originWorkflowAnimatorUtmost</key>
    <string>ResilientDialogPathTry</string>
    <key>resourceCompareFrugal</key>
    <string>FromMixerWorkbenchGenerate</string>
    <key>trainSnapshotterSphereWilling</key>
    <string>WinsomeResize</string>
    <key>willowConsume</key>
    <string>MigrateViaCommandViewport</string>
    <key>mindHoldCollector</key>
    <string>SaverDecentTuple</string>
    <key>assemblerSplash</key>
    <string>CompareGorgeAerial</string>
    <key>beyondOnyxInterpreter</key>
    <string>StarTryAt</string>
    <key>besideSystematic</key>
    <string>ThroughoutCandidDurableBeyond</string>
    <key>urbaneSaveHelperEpisode</key>
    <string>CaptureBelowDatasetter</string>
    <key>riverLuckyMapper</key>
    <string>SnowSlateMature</string>
</dict>
</plist>
