<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>preloadCounterResolverGrave</key>
    <string>TransformableBindOnto</string>
    <key>rangeSelectorJust</key>
    <string>AttachHighlightHubset</string>
    <key>shadowedReplayStory</key>
    <string>HumbleSurgeStandAmidDecompress</string>
    <key>nobleReturnHeight</key>
    <string>ThoroughLuckyRationalOakenDecompress</string>
    <key>holdClassHealthy</key>
    <string>PassageTallMountResource</string>
    <key>outputComplexUpdate</key>
    <string>ArrayInitializeDraw</string>
    <key>trueDetect</key>
    <string>MergeExtractBrook</string>
</dict>
</plist>
