<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>updaterContextAbleMigrate</key>
    <string>ObviousBoundMobilePolicy</string>
    <key>ownerAggregateTactful</key>
    <string>SelectorProvisionZoneProper</string>
    <key>closeCreatorHardy</key>
    <string>RotateHandlerAccept</string>
    <key>generatorLocalControllerVerify</key>
    <string>OrganizerCancelCliffBy</string>
    <key>sageBehindRefinedHelper</key>
    <string>GroupWirelessVisitorAssign</string>
</dict>
</plist>
