<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>darkFactoryFind</key>
    <string>FocusedDecoratorDecoratorCollectorStore</string>
    <key>connectorFreeMultiplyWindow</key>
    <string>FlukeShaderIntactPause</string>
    <key>removeTransformable</key>
    <string>EstuaryHostModify</string>
    <key>preloadAudioPleasant</key>
    <string>StormExoticDecompress</string>
</dict>
</plist>
