<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crispSaver</key>
    <string>LandGorgeRotate</string>
    <key>carefulTransformable</key>
    <string>LightmapViewportLocalize</string>
    <key>sunnyConductorMessage</key>
    <string>TerminalOnyxListener</string>
</dict>
</plist>
