<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>amidShaderPrivateExport</key>
    <string>FactoryPositionerPetiteStrike</string>
    <key>restoreDialogArray</key>
    <string>PresentTransformArray</string>
    <key>hardyClassAccelerate</key>
    <string>ParcelIconPackLattice</string>
    <key>courierFabricOverTerse</key>
    <string>SyncBlueprintBeyondParser</string>
</dict>
</plist>
