<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>navigatorScheduler</key>
    <string>RangeConnectTimelySecure</string>
    <key>resolverTulipIterative</key>
    <string>LedgerConnectRetreatSpectrum</string>
    <key>exoticSelector</key>
    <string>SymbolConsumeOpalSuite</string>
    <key>acrossCrystalSelectorTimeline</key>
    <string>PureThemeTupleArray</string>
</dict>
</plist>
