<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handyEnable</key>
    <string>LayoutTranslateTurnCanvas</string>
    <key>tupleCalibrateInstance</key>
    <string>TuneRingJudiciousGrid</string>
    <key>ruggedIncremental</key>
    <string>TreatVitalSend</string>
    <key>delegateTopmostCheck</key>
    <string>DistantByWoodForward</string>
    <key>coordinatorOutsideReflexiveHaze</key>
    <string>BlendWhisperForcefulModal</string>
    <key>expandedPostboxShaderThrottle</key>
    <string>ScenarioProperRunResolverAmid</string>
    <key>wanderTenderEnable</key>
    <string>CoordinateCivicVoiceConvert</string>
    <key>storyBuilderAppendFocused</key>
    <string>ConnectPrintSmooth</string>
</dict>
</plist>
