<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appBarNobleBeside</key>
    <string>DecompressSearchWork</string>
    <key>plannerSolidInAction</key>
    <string>AcceptTriumphPrintDomeTrigger</string>
    <key>workbenchTameConvertWorth</key>
    <string>BufferDunePresenterCrestRecord</string>
    <key>immenseSpectrumWaveExpand</key>
    <string>JungleFrugalBehind</string>
    <key>artfulCaptureCollection</key>
    <string>RendererContextOrigin</string>
    <key>sandHandler</key>
    <string>ScrollOffInsertTrigger</string>
</dict>
</plist>
