<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>splitPlanner</key>
    <string>FinishHazeDraw</string>
    <key>liberalDispatch</key>
    <string>PreviewSecondaryMemoryAcross</string>
    <key>alignGrowingProjector</key>
    <string>ShaderVerifyMove</string>
    <key>insideSpot</key>
    <string>OwnerAboveSweetMount</string>
    <key>manifestInMapper</key>
    <string>OrganizerHumbleFaintDistinctBeside</string>
    <key>parallelParserSubmitBirch</key>
    <string>ReturnEpisodeFocusBelow</string>
    <key>blueprintAgainstAccurate</key>
    <string>NearReleaseScrollSelect</string>
    <key>stylerQuillCautious</key>
    <string>ReferenceContinueThrottleCreator</string>
    <key>silverInterpreterMerry</key>
    <string>VisibleScaleWorkbench</string>
</dict>
</plist>
