<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>renderSuite</key>
    <string>FontFitWhiteEveryday</string>
    <key>outsideDigitalFileSaver</key>
    <string>ImportAlongsideStructure</string>
    <key>attachHeaderReference</key>
    <string>LogicSliceApplyBinderValley</string>
    <key>stencilCarefreeHubResume</key>
    <string>GraveClusterParser</string>
    <key>guideRendererBefore</key>
    <string>BufferRetreatPoplar</string>
    <key>presentThemeCrossPleasant</key>
    <string>BasicPathwayTallInspector</string>
    <key>uniqueHiveRevoke</key>
    <string>MountBeneathMask</string>
    <key>workbenchLayout</key>
    <string>CoreAlongTorchAlongside</string>
    <key>enumAnalyzeGraceful</key>
    <string>PresenterConfigAfterPreview</string>
    <key>modalVisualize</key>
    <string>TopViewModelCompareOutside</string>
</dict>
</plist>
