<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>forceIterativeTheme</key>
    <string>ContentTargetDraw</string>
    <key>artifactHeroic</key>
    <string>BridgeBadgePaginateScopePositive</string>
    <key>beyondRendererYield</key>
    <string>OntoStairTransformerOperand</string>
    <key>hintedLock</key>
    <string>TruthFactoryHeroicSequence</string>
    <key>peakCaptureCelestial</key>
    <string>EqualResolver</string>
    <key>decoratorExtensionThrottle</key>
    <string>StrongRenderLock</string>
    <key>bundlePack</key>
    <string>NavigateAlertThemeCarefulExpanded</string>
    <key>plazaSelector</key>
    <string>DuneWoodRound</string>
    <key>coreOutlinedDirectoryMask</key>
    <string>PacificBalanced</string>
</dict>
</plist>
