<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>dashboardPaginateHinted</key>
    <string>ModifyWaitInfinite</string>
    <key>interpreterFairyPlayReady</key>
    <string>SplitLargeBrokerUnified</string>
    <key>assetPerformPainter</key>
    <string>ShadowResizePastSurfaceModern</string>
    <key>refreshDefinite</key>
    <string>FromWhisperDecent</string>
    <key>brokerCache</key>
    <string>BrookSpontaneousMask</string>
    <key>framePlannerRich</key>
    <string>SliceVitalAction</string>
    <key>transformerAlongside</key>
    <string>ModularAmidInspector</string>
    <key>helperSync</key>
    <string>ScrollPushPlay</string>
</dict>
</plist>
