<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>behindMapper</key>
    <string>AngleDeriveConnectToast</string>
    <key>resolverMountImagePrimary</key>
    <string>SelectCupertinoCompareParcel</string>
    <key>consolidateFitCreator</key>
    <string>HideUntouchedConfigure</string>
    <key>collectorPeacefulStrength</key>
    <string>ListHelperFinish</string>
    <key>atTransformerUnity</key>
    <string>PlayFallsHold</string>
    <key>thickGroup</key>
    <string>ImplementLooseDataSourceRobust</string>
    <key>optimizeSchedulerDefined</key>
    <string>UrbanCheck</string>
    <key>markViewModel</key>
    <string>MuseCoreElevatedHandler</string>
    <key>dataSourceWayMapPremier</key>
    <string>PetiteMarkSignerHolistic</string>
    <key>directDirectory</key>
    <string>NavigatorSupremeDriveTheme</string>
</dict>
</plist>
