<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>robustNatureRepaint</key>
    <string>BeginCuratedSuperLayout</string>
    <key>classPathwayEqualSet</key>
    <string>EverydayGraphTense</string>
    <key>transformerBasicSlate</key>
    <string>CatalogerPreloadTemplate</string>
    <key>stayPleasant</key>
    <string>FocusFormatterErrorExtractHide</string>
    <key>globalForceParserIndex</key>
    <string>LatticeHubsetBind</string>
</dict>
</plist>
