<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>crestStartCore</key>
    <string>TerseVirtuousOffUpgrade</string>
    <key>civicFaintDeliver</key>
    <string>TowardSkyInspectorOpen</string>
    <key>guideTransformerCapture</key>
    <string>BrokerLogicalSelectorLaneRugged</string>
    <key>atlasMapWorkbench</key>
    <string>ReplayCatalogEnqueue</string>
    <key>painterCompareLithe</key>
    <string>ConvertChannelHostDale</string>
    <key>workbenchBesideObviousStair</key>
    <string>ContextVerseTo</string>
    <key>mainTexture</key>
    <string>DecoratorStartDominantSelector</string>
    <key>shadowDaleFeatherlightScheduler</key>
    <string>FeatureWhisperUltimateDataset</string>
    <key>jungleBuild</key>
    <string>FromAroundCheck</string>
</dict>
</plist>
