<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>cacheLineSmooth</key>
    <string>RoadmapDelegateNear</string>
    <key>aboveCoreButtonFertile</key>
    <string>RidgeResolverTimelessHubPreview</string>
    <key>snappyLocalize</key>
    <string>UnityMigrate</string>
    <key>catalogerPreciousHard</key>
    <string>TopLuminousWorkflowAnimator</string>
    <key>amidStarWiseSuite</key>
    <string>GraveDownFormatterShowMine</string>
    <key>outsideWood</key>
    <string>ImplementMessageSelectCompress</string>
    <key>solarSeamless</key>
    <string>HubsetAssembleHazeConverter</string>
    <key>unityHeight</key>
    <string>DepotRecordRemove</string>
    <key>collectorSplashReturnPolished</key>
    <string>FactoryExtraBinaryWave</string>
</dict>
</plist>
