<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>thickTrailSpectrumPreview</key>
    <string>GetFormatInterpreterPath</string>
    <key>greenOwl</key>
    <string>TransformerStoneMemorySet</string>
    <key>layoutPresenterVirtuousShade</key>
    <string>ParserZonalCoordinate</string>
    <key>workflowAnimatorWorthyWhisper</key>
    <string>HarmonyBeginHelixArray</string>
    <key>spectrumPaginate</key>
    <string>AccelerateAnimateConductorJasperTerminal</string>
    <key>mixerWarehouse</key>
    <string>WarehouseMindfulElementalNavigator</string>
    <key>jasperController</key>
    <string>OfPristineSereneFill</string>
</dict>
</plist>
