<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shortcutParametric</key>
    <string>CommandBasicBuildDawn</string>
    <key>toWarehouse</key>
    <string>MaterialLoadVivid</string>
    <key>intoVigorousCavernBroker</key>
    <string>InstanceStencilOpalParse</string>
    <key>endIncrementalOasis</key>
    <string>DecoratorGlobeReceive</string>
    <key>absoluteTruth</key>
    <string>BlendMagicRevoke</string>
    <key>layoutSubmit</key>
    <string>PlazaRevokeWander</string>
    <key>coordinateCreatorBirchSweet</key>
    <string>MaskLucidWhisperMineComposer</string>
</dict>
</plist>
