<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>datasetterMigrate</key>
    <string>StackPresentWarehouseDismiss</string>
    <key>ontoComplexDefine</key>
    <string>AfterStopDriverSkilledOptimize</string>
    <key>interpreterMatureCard</key>
    <string>PainterIconicClassValidate</string>
    <key>snackbarRevokeBinder</key>
    <string>StarThemeChip</string>
</dict>
</plist>
