<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>appendTideSaverUnity</key>
    <string>CivicEverydayAfter</string>
    <key>painterPresentBlithe</key>
    <string>FrugalSurfPoolAlign</string>
    <key>modalPlannerInsideFond</key>
    <string>AboveSimpleNativeAt</string>
    <key>decoratorInsert</key>
    <string>DesertSteelIndexAfter</string>
    <key>spiritAerialEnumFind</key>
    <string>GuidebookViaController</string>
    <key>emberSyncOrganizerSublime</key>
    <string>HandleSaveMoveYear</string>
    <key>verifySuiteLandscapeReactive</key>
    <string>ForceUtmostShadowedShader</string>
</dict>
</plist>
