<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>proudSystem</key>
    <string>DomeLoyalThrottleDispatch</string>
    <key>accelerateJewelPrecise</key>
    <string>ElevateSignalListener</string>
    <key>decodeCollector</key>
    <string>BasinHardyPushStripeRefresh</string>
</dict>
</plist>
