<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>interpreterContentBeginInviting</key>
    <string>SendKnackAtLand</string>
    <key>detectDataSelectorDual</key>
    <string>CentralUniqueClass</string>
    <key>heroicBalancerSave</key>
    <string>HoldLeafReportUpdateHandler</string>
    <key>parserAmbient</key>
    <string>SplashDropMagnet</string>
    <key>transformTabbarSturdy</key>
    <string>PlayGladeAerial</string>
</dict>
</plist>
