<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>acrossGraveComposer</key>
    <string>VisitorUniqueCompareMaterial</string>
    <key>emitterVisualize</key>
    <string>MeasuredSelectorConnectorPlanner</string>
    <key>fabricConnectToastTiny</key>
    <string>TerminalCleanFocus</string>
    <key>alignBroad</key>
    <string>SeaOutsideExpandControllerSpoke</string>
    <key>aroundModular</key>
    <string>CollectorBuildFactoryParadise</string>
</dict>
</plist>
