<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>prudentFormatterDeliverEpisode</key>
    <string>IslandFormatterLocalTranquil</string>
    <key>holdLightBinderDale</key>
    <string>DispatchConnectorRecord</string>
    <key>containerTexture</key>
    <string>StepHighlightResolverMoment</string>
    <key>utilityCoreCaptureJovial</key>
    <string>TameIvoryMapperCataloger</string>
</dict>
</plist>
