<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>handleTheme</key>
    <string>OrchestratorReflectReceive</string>
    <key>onyxPrudent</key>
    <string>TexturePreloadDispatchOver</string>
    <key>delegateTower</key>
    <string>ParserReadSecureRare</string>
    <key>tabbarPreloadArray</key>
    <string>ActionDialogOutline</string>
    <key>performCoherent</key>
    <string>HighlightRunGenericWait</string>
    <key>builderHeaven</key>
    <string>PearlMaterialStory</string>
    <key>wallLogical</key>
    <string>UpdaterKineticLayoutAssembler</string>
</dict>
</plist>
