<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>workbenchPaint</key>
    <string>ResourceRestoreChasmStripe</string>
    <key>ornateTerminalTreatUp</key>
    <string>ClearFetchCataloger</string>
    <key>whiteUrbane</key>
    <string>IntuitiveStoneChart</string>
    <key>signerThroughCohesive</key>
    <string>VisualizeMajorWriteRustic</string>
</dict>
</plist>
