<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>collectorStartSaverKind</key>
    <string>ControllerQuirkByIndex</string>
    <key>royalHelper</key>
    <string>SegmentMapUnusual</string>
    <key>helixAccurateConnectorTranslate</key>
    <string>FocusedStopObvious</string>
    <key>twistTopmostSnapshotterVerify</key>
    <string>CascadeToolMarsh</string>
    <key>wiseTheme</key>
    <string>ExoticLogicalValleySlip</string>
    <key>genericRevoke</key>
    <string>RefreshQuietInspectorJust</string>
</dict>
</plist>
