<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rendererOwl</key>
    <string>WhiteQuotaMine</string>
    <key>supremeFluke</key>
    <string>ClassPowerThrottleRadiant</string>
    <key>viewportSweetShader</key>
    <string>PresenterPetiteShaderProvision</string>
    <key>pauseRadiantSpice</key>
    <string>AfterAmidHeroicPlannerHardy</string>
    <key>workflowAnimatorReturnBoard</key>
    <string>WorthySolarNaturalPetiteFind</string>
</dict>
</plist>
