<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>deepSignerCaptureTrusty</key>
    <string>FirmPromptClass</string>
    <key>payloadBindSpectrumWilling</key>
    <string>RevokeBeneathSilentDecorator</string>
    <key>balancerBalancedLibrary</key>
    <string>FormatterMajorStylerVerify</string>
    <key>coordinatorBareCollector</key>
    <string>OceanCollectorArray</string>
    <key>workbenchSkilledInside</key>
    <string>InstanceFabricSnapshotterScheduler</string>
    <key>robustExtract</key>
    <string>JovialSaverSmooth</string>
    <key>lawfulDefine</key>
    <string>BinaryStormEarnest</string>
    <key>appendBlueprint</key>
    <string>SignalSubmitInsideClipSummit</string>
    <key>displayHumor</key>
    <string>CaptureCounterPeak</string>
    <key>wealthyOrbitFrom</key>
    <string>CaptureCascadeSaverShuffleLedger</string>
</dict>
</plist>
