<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>rangeWithoutFancyPresenter</key>
    <string>OrchardArrayOwnerGraph</string>
    <key>tupleBeforeCareful</key>
    <string>SecondaryMigrateDataConnector</string>
    <key>schedulerActionAdaptiveInitialize</key>
    <string>FacetWindSpokeSnapshotter</string>
    <key>neuralPreload</key>
    <string>ClassRegisterComputeGenerousChain</string>
</dict>
</plist>
