<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>transitMildCloseResolver</key>
    <string>EarthShader</string>
    <key>facadeTerrainSelectPeaceful</key>
    <string>BeginTerminalControlOption</string>
    <key>revokeKeypathWorthySpectrum</key>
    <string>VisionFontFind</string>
    <key>scaleWordSpectrum</key>
    <string>PearlLotusRelief</string>
    <key>formatterPeacefulDecompress</key>
    <string>TemplateBinderUprightRange</string>
    <key>timerRareSigner</key>
    <string>BoardRidgeWarehouseDark</string>
    <key>balancerPaintBaselineInfinite</key>
    <string>GladInterpreterHandle</string>
</dict>
</plist>
