<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>clearLeaf</key>
    <string>OverTableIvoryExport</string>
    <key>passageVisitor</key>
    <string>CloseAlongUp</string>
    <key>shuffleFaithful</key>
    <string>PastTruthPortal</string>
    <key>mapperNovelAt</key>
    <string>ViaModifyDetectKindred</string>
    <key>sharpReference</key>
    <string>StorageHostCloseOff</string>
    <key>measuredFormatter</key>
    <string>PhoenixVerifyVector</string>
    <key>labelPlainUntil</key>
    <string>ThrottlePushMindfulAppendUntil</string>
    <key>warmFrom</key>
    <string>ReferenceConstructAtomicSecureStage</string>
</dict>
</plist>
