<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>soundTwist</key>
    <string>SpokeAfterMark</string>
    <key>stylerCurated</key>
    <string>MergeUpdateContentCivicRustic</string>
    <key>vibrantSegmentFormat</key>
    <string>OverlayCrestTransformer</string>
    <key>catalogTextureDuring</key>
    <string>RuggedForShuffle</string>
    <key>classDepot</key>
    <string>FinishJasperLuminousIdle</string>
    <key>makeWholeTupleBlock</key>
    <string>CircuitIntactVisitorOutline</string>
</dict>
</plist>
