<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>textureTo</key>
    <string>PlannerFabric</string>
    <key>clipConverterProjectorRustic</key>
    <string>TorchFacadeScale</string>
    <key>shadowPetite</key>
    <string>SpectrumScrollPainter</string>
    <key>extractPosition</key>
    <string>PaintLandscapeCoherentLattice</string>
</dict>
</plist>
