<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ruggedizedStartPrismClass</key>
    <string>HelixBinaryFixFormat</string>
    <key>gracefulRemoveLanguageResolver</key>
    <string>TowardMultiplyFromSurface</string>
    <key>vineAt</key>
    <string>SpiritComposerDawn</string>
    <key>structureOutsideMain</key>
    <string>ClipDropBeyondTheoryBrave</string>
    <key>revokeIntactInterpreterSpark</key>
    <string>TranquilBehindCivic</string>
</dict>
</plist>
