<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>logicalSendGuideOwner</key>
    <string>AgainstEmitterFloraConverter</string>
    <key>persistSublime</key>
    <string>PresenterModularKnackCoordinate</string>
    <key>orderlySelectorDrop</key>
    <string>CacheOwnerSchedulerTerminal</string>
    <key>coreStepOnExpanded</key>
    <string>LegacyRendererImageSet</string>
    <key>elevatedBinderFor</key>
    <string>TimelessPerformQuill</string>
    <key>interpreterCandid</key>
    <string>OrchestratorRareRobust</string>
    <key>segmentDefineIdleConnect</key>
    <string>AtomicDashboardFindContextGeneric</string>
    <key>mapperStair</key>
    <string>SegmentLifecycleRenderer</string>
    <key>stairLivelyGenerate</key>
    <string>SelectFormatterWithoutBadge</string>
</dict>
</plist>
