<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>definePlushRepaintPreload</key>
    <string>CollectionPathwayBannerHandler</string>
    <key>coreSpring</key>
    <string>FilterIntimateThoroughDefine</string>
    <key>resolverInfinity</key>
    <string>CollectorHeaderShadow</string>
    <key>animateJudiciousTunePresenter</key>
    <string>PaintFlagshipStencilValidate</string>
</dict>
</plist>
