<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>insertAssemblerStream</key>
    <string>ReplayPlannerEndEminentBase</string>
    <key>infiniteBrokerEntry</key>
    <string>ConnectQuotaMature</string>
    <key>peerlessWith</key>
    <string>IndexExpandAgainst</string>
    <key>referenceFleet</key>
    <string>DecompressContentSliceYard</string>
    <key>ontoWeightlessShaderStorage</key>
    <string>StartSchedulerHumble</string>
    <key>packageDerive</key>
    <string>MomentThoroughStencilOrigin</string>
    <key>replaceBroadWave</key>
    <string>CompareDiagramCoordinator</string>
</dict>
</plist>
