<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>snowUprightHelper</key>
    <string>BrainStarOptimize</string>
    <key>brilliantSpectrumDismissShade</key>
    <string>OrganizerSynchronizerFixDecompress</string>
    <key>softPassagePerform</key>
    <string>FormatterArrayFormatterTransformer</string>
    <key>marshClass</key>
    <string>TabbarHandlerOrganizerZonal</string>
    <key>fabricSpiritContinueSeamless</key>
    <string>InitializeParserPortraitWave</string>
    <key>selectorSecondary</key>
    <string>FindCrossAppBarPreview</string>
    <key>listviewSortCrystalTransformer</key>
    <string>ThemeElite</string>
    <key>resizeLibrary</key>
    <string>EngineSignerGracefulAerial</string>
</dict>
</plist>
