<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>behindOnyxImplementClassic</key>
    <string>InteractiveTimelineTranslateYield</string>
    <key>responsiveCatalogerCleanLibrary</key>
    <string>ScopeBuildMemoryConstruct</string>
    <key>convertSnapshotterAccurate</key>
    <string>LedgeRelease</string>
    <key>signerTemple</key>
    <string>DatasetterFabricWithIncremental</string>
</dict>
</plist>
