<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>formalDelegateRetreatWithin</key>
    <string>OptimalConnectBuffer</string>
    <key>shareConverter</key>
    <string>TransformIndexColorBackup</string>
    <key>resourceVia</key>
    <string>AccessVoyageClip</string>
    <key>collectionDapper</key>
    <string>LockTimelessDelegateCenter</string>
</dict>
</plist>
