<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>renderHarmony</key>
    <string>StyleMixerPack</string>
    <key>delegateShortcutLoadBreezy</key>
    <string>HighlightLitheSchedulerIntense</string>
    <key>headerScanUrban</key>
    <string>PacificSelectorInteractorBreak</string>
    <key>wholePresenter</key>
    <string>DatasetSelectorSnapshotterPositive</string>
    <key>constructBright</key>
    <string>GloriousVoiceHarborPrecious</string>
    <key>painterToBundle</key>
    <string>CoreIncrementalSheetLockSend</string>
    <key>formatCoordinatorLightmap</key>
    <string>SparkHumorLuminous</string>
</dict>
</plist>
