<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>texturePlanetIconic</key>
    <string>TextureDropdownFacade</string>
    <key>loadTemplateGreen</key>
    <string>ExtensionTacticVisualizeChain</string>
    <key>updaterTonalNotebook</key>
    <string>ValuableAbstractSpectrumOrderlyMild</string>
    <key>suiteReactiveInsert</key>
    <string>DecoderPurePlugin</string>
    <key>assignMapperTexture</key>
    <string>TinyReactiveTransformable</string>
    <key>throughoutCataloger</key>
    <string>TruthFallbackHeader</string>
    <key>wholeVerifyScope</key>
    <string>OffKindredTerminalFabricConsolidate</string>
</dict>
</plist>
