<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compareDecoratorProper</key>
    <string>TribeOwnerPrintRound</string>
    <key>plannerElmGreen</key>
    <string>ManifestStorageSortBuild</string>
    <key>trustworthySaverEndTimeline</key>
    <string>PortraitBinderLuminousAfter</string>
    <key>withoutImplementLogical</key>
    <string>SwiftFertileInside</string>
</dict>
</plist>
