<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>intoBareViewStyler</key>
    <string>StandMarkerOfNear</string>
    <key>returnRoundedOasisCore</key>
    <string>LandSandScrollTree</string>
    <key>modularLoad</key>
    <string>SurfAccurateDraw</string>
    <key>spectrumReliable</key>
    <string>HidePayloadRevoke</string>
</dict>
</plist>
