<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>visionReferenceShadow</key>
    <string>ViaTransitUniversal</string>
    <key>dataSourceThickAnimate</key>
    <string>LocalizeCentralSend</string>
    <key>forcefulViewModelTrigger</key>
    <string>CaptureShaderDiagramBuilderContinue</string>
    <key>venturePlannerReset</key>
    <string>HistoryCollectorClipPlace</string>
    <key>stringDecorator</key>
    <string>DispatchPragmaticDistant</string>
    <key>shareDisplayAgileSigner</key>
    <string>PositionerReturnNovelCalculate</string>
</dict>
</plist>
