<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>viewportTuneSoundDetect</key>
    <string>ClipScrollCreatorHandleSpring</string>
    <key>terminalNearHeader</key>
    <string>GuideEngineAroundEnd</string>
    <key>assignStairResolver</key>
    <string>ComposerOrchestratorAnchor</string>
    <key>dapperAddDecoratorStar</key>
    <string>ConvertConvertMethodStore</string>
    <key>packWild</key>
    <string>PeacefulCreatorIconHeight</string>
    <key>timelineSurface</key>
    <string>ThrottleScrollPositionWay</string>
    <key>formatProjector</key>
    <string>WholeOn</string>
    <key>sunResponsiveWarehousePast</key>
    <string>AssemblerHandleAccountHide</string>
    <key>towardPlatform</key>
    <string>WordQueueAssembleBegin</string>
</dict>
</plist>
