<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>organizerDecentConsumeScroll</key>
    <string>ReplaceClosePoplarEvent</string>
    <key>helixSaverAtMindful</key>
    <string>ReadResetMajorHold</string>
    <key>timelineInsideExactMethod</key>
    <string>RadarTallRelease</string>
    <key>globeScheduleFrugalResolver</key>
    <string>OwlNavigateRestOption</string>
    <key>utmostAtlasUpdater</key>
    <string>EmberChannelPaginateGuideShow</string>
</dict>
</plist>
