<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>resetParserKeenDynamic</key>
    <string>SageOutlinedSchedulerLanguage</string>
    <key>workflowAnimatorHighlight</key>
    <string>CohesiveTallDecoratorVisitorBrook</string>
    <key>fastMake</key>
    <string>WittyLuminousLogicMindful</string>
    <key>summitHardyProjectorThroughout</key>
    <string>DuskAudioStartEarth</string>
    <key>absoluteStencilLoad</key>
    <string>VisitorContextHubPresenterOasis</string>
</dict>
</plist>
