<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>sendHiveOutlinedSpectrum</key>
    <string>MapperShortcutModern</string>
    <key>speckledCoordinatorCancel</key>
    <string>LedgerRareStencil</string>
    <key>facadeLeapMeasureGreat</key>
    <string>ViewportIconDataNear</string>
</dict>
</plist>
