<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>searchConcurrentStencil</key>
    <string>CoordinatorHarmlessUntil</string>
    <key>generatorOutsideRendererBrave</key>
    <string>RuggedPlannerMount</string>
    <key>breezyMapperClass</key>
    <string>InsideShadowedLeaf</string>
    <key>schedulerClassicTooltipFrom</key>
    <string>UtmostSturdyPearlThroughoutPassive</string>
    <key>crestCatalogerSystematicPrint</key>
    <string>GlacierSymbol</string>
</dict>
</plist>
