<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>fairySpectrumValidateGentle</key>
    <string>BelowDecompressBreezyPrecious</string>
    <key>localizeTemplate</key>
    <string>EnableWithoutAccess</string>
    <key>forcefulWorkbench</key>
    <string>CoreLayoutSnapshotter</string>
</dict>
</plist>
