<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>softScaleBalancerWord</key>
    <string>TranquilEnumFacade</string>
    <key>utmostHoldRing</key>
    <string>RetreatRangeSpeak</string>
    <key>focusedVerifySpiceDelegate</key>
    <string>HighlightTerrainGlobeRenderer</string>
    <key>wisePlannerBegin</key>
    <string>SynchronizerMemoryAdd</string>
    <key>groveAssignConnector</key>
    <string>TowardFertile</string>
</dict>
</plist>
