<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>shapeFormat</key>
    <string>RadiantWithinDatasetterSnappyFrom</string>
    <key>elevatedPresenter</key>
    <string>HeightWindWisdom</string>
    <key>poplarJudiciousCollection</key>
    <string>DecisiveOriginStorageJoyful</string>
    <key>smoothBinderUp</key>
    <string>ShuffleEnableAlongsideMoor</string>
    <key>creatorDapperDriverStop</key>
    <string>JubilantCalmKeyKinetic</string>
</dict>
</plist>
