<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>matrixPlannerShadowed</key>
    <string>PresenterContainerPlay</string>
    <key>stopNeatHaven</key>
    <string>SmoothTextureBeyondFormatterPort</string>
    <key>delegateBrightPersist</key>
    <string>DefinedStemSolution</string>
    <key>mountFacadeBadge</key>
    <string>SystematicInsideBase</string>
    <key>splendidInterpreter</key>
    <string>RevokeAnimateBelow</string>
    <key>parseTrueConnectorSnackbar</key>
    <string>InletMobileEmberAction</string>
    <key>snapshotterAroundSceneDelicate</key>
    <string>FieldUrbanChipAround</string>
</dict>
</plist>
