<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>computeProjectorBlockTiny</key>
    <string>EarthConnectorUpon</string>
    <key>compareProjectorModal</key>
    <string>WaveBoardSelector</string>
    <key>constructSuiteQuietNectar</key>
    <string>PreviewBrokerWorkflowAnimatorLane</string>
    <key>stemBeginResolver</key>
    <string>TerminalGenericHighlight</string>
    <key>rendererWriteWideWall</key>
    <string>EmberFrameLayoutThread</string>
    <key>scaleDismissReactiveConductor</key>
    <string>RichDatasetterArraySurface</string>
    <key>beyondVigorousTheme</key>
    <string>ArtifactGuidebookRotateThick</string>
</dict>
</plist>
