<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>tactfulHighlight</key>
    <string>ThrottleOptionToast</string>
    <key>viewportResumeTrim</key>
    <string>LoadLocalConstruct</string>
    <key>loyalValidateShader</key>
    <string>WaitDetectLockStem</string>
    <key>painterHold</key>
    <string>SaverCore</string>
    <key>modeConsistentTimeline</key>
    <string>CancelLakeConsolidatePlay</string>
    <key>grandConstruct</key>
    <string>LawfulStarProjectorShore</string>
</dict>
</plist>
