<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pureAmongDefine</key>
    <string>RowAgainstShape</string>
    <key>saverStand</key>
    <string>EngineTruthViewportModify</string>
    <key>portraitReleaseWidescreenCreator</key>
    <string>OakenLastingWoodJust</string>
    <key>themePlacid</key>
    <string>CaptureDirectModest</string>
    <key>converterWidget</key>
    <string>AlignAccelerate</string>
    <key>humaneRegister</key>
    <string>MaskPaginateOver</string>
    <key>uponNature</key>
    <string>EdgePaintFlagshipGenuine</string>
</dict>
</plist>
