<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>signerWorth</key>
    <string>ModalRowDark</string>
    <key>localFileRefreshOrganizer</key>
    <string>RunUponHide</string>
    <key>timelessTransitBuild</key>
    <string>StageSaverDeviceQuirk</string>
    <key>gloriousAdapterUp</key>
    <string>AnchorTransformableSearch</string>
    <key>scrollMerit</key>
    <string>SearchLocalControllerSave</string>
</dict>
</plist>
