<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>paginateListSpectrum</key>
    <string>HeartyGulfPrimary</string>
    <key>parseCard</key>
    <string>ModuleConverterAcrossButtonRiver</string>
    <key>launchBinderTableMeasured</key>
    <string>SliceInterpreterFlow</string>
    <key>formatPlainBinderLine</key>
    <string>WordEnumRaven</string>
    <key>exactDuskDatasetterNear</key>
    <string>HistoryOpenWorthyBehind</string>
    <key>petiteSearchSpeak</key>
    <string>FallsRender</string>
    <key>kineticMergeLedger</key>
    <string>TerminalProjectorJunction</string>
    <key>merryRefreshExtension</key>
    <string>StylerEnqueueOrchestratorInfinite</string>
    <key>compressAnchor</key>
    <string>PoolTrustyTransformable</string>
</dict>
</plist>
