<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>directoryMountProjectorMature</key>
    <string>CoordinatorSplashWorld</string>
    <key>seasonalFacade</key>
    <string>TowerFabricGlobalGentle</string>
    <key>resolverScroll</key>
    <string>HeaderAtFocal</string>
    <key>cavernHold</key>
    <string>RobustDecoratorSaverThrottle</string>
    <key>runSuiteWave</key>
    <string>WalkCollectionPlannerPreview</string>
</dict>
</plist>
