<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>reliableTupleTimeStart</key>
    <string>VoiceTransformerEdgeMapReceive</string>
    <key>organizerThrottleDelta</key>
    <string>LoyalHardyErrorMelody</string>
    <key>recordArrayUrbane</key>
    <string>FallsModify</string>
</dict>
</plist>
