<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pacificDerive</key>
    <string>BuoyantWorkflowAnimatorAccess</string>
    <key>presenterSleekRegister</key>
    <string>WindLuminousSlip</string>
    <key>judiciousLoadLogicClass</key>
    <string>LoadDenseAssembleSpringElevate</string>
    <key>roundedPrairieSuiteScale</key>
    <string>PersistSuiteIdealCache</string>
</dict>
</plist>
