<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>pastToolLogical</key>
    <string>BuilderOffTranslate</string>
    <key>measureAudio</key>
    <string>LevelPanelLedger</string>
    <key>validateFrugalHandler</key>
    <string>ForDividerDisplaySignalConductor</string>
    <key>idealScrollSurf</key>
    <string>WhisperHard</string>
</dict>
</plist>
