<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>themeSimpleAcrossFont</key>
    <string>AccurateNavigatorInsideBegin</string>
    <key>wayHeader</key>
    <string>CoordinateResetVineTransformer</string>
    <key>catalogerCliffRevoke</key>
    <string>BeneathDale</string>
    <key>hubArrayVisualize</key>
    <string>SynchronizerScaleFor</string>
    <key>recordWorkStyler</key>
    <string>JasperFlowPlaza</string>
    <key>parserAtomicPoplar</key>
    <string>FineMatrixPlannerAttach</string>
    <key>cacheLineTerminal</key>
    <string>DataIntimateAssignScheduler</string>
</dict>
</plist>
