<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>peakCautiousLockWorkflowAnimator</key>
    <string>StrongKeeperResolver</string>
    <key>firmTerrainTerminalBeyond</key>
    <string>SpeckledBrokerUntilSnapshotter</string>
    <key>containerWriteAssemblerPeaceful</key>
    <string>ReceiveLayoutIconPack</string>
    <key>snapshotterDarkUpEarth</key>
    <string>PeacefulAtomicFindDownTrusted</string>
    <key>elegantShader</key>
    <string>ErrorMultiplyTruth</string>
    <key>amongWide</key>
    <string>NovelDecoratorFrame</string>
    <key>fixturePaginate</key>
    <string>DeriveBesideHandler</string>
</dict>
</plist>
