<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>templateTheme</key>
    <string>OptimizeBundleFill</string>
    <key>decompressSuite</key>
    <string>VesselMaskCrystalReplay</string>
    <key>catalogerSage</key>
    <string>SchedulerDirectoryFacade</string>
    <key>beginHubsetLucent</key>
    <string>AerialFabricDelegateAlcoveOpen</string>
    <key>parserSolidPresent</key>
    <string>BridgeAlignInitialize</string>
</dict>
</plist>
