<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>catalogerPassage</key>
    <string>CoordinatorFileTribe</string>
    <key>behindSnapshotHarmless</key>
    <string>NobleFriendlyViewportExtraInspector</string>
    <key>readCautiousEntryStencil</key>
    <string>HintedLogicalCrossLoadHandler</string>
    <key>simpleCoreDropScrollView</key>
    <string>BreakThreadedPragmatic</string>
</dict>
</plist>
