<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>scopePromptUp</key>
    <string>ConverterAboveOrchestrator</string>
    <key>leapTallNavigate</key>
    <string>SnowCreatorIdle</string>
    <key>mapperCheckSafe</key>
    <string>CollectorTerminalBadge</string>
    <key>sortScroll</key>
    <string>OperatorVaporPlaceDesert</string>
    <key>dispatchOrbit</key>
    <string>BuilderTransformSegment</string>
    <key>resolverMultiply</key>
    <string>OrganizerFramework</string>
</dict>
</plist>
