<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>jubilantCancelPleasedFabric</key>
    <string>CompareResolverUnityDown</string>
    <key>simpleSeaSet</key>
    <string>ModalFallbackCompute</string>
    <key>keeperBalancedSuite</key>
    <string>PointMightDashboard</string>
    <key>connectorPrimalToolbar</key>
    <string>ViableCompressTimeline</string>
</dict>
</plist>
