<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>baseCatalogerAround</key>
    <string>ArchiveKeyHeaderChief</string>
    <key>spriteWideInsert</key>
    <string>AssembleValidateDuringPlanner</string>
    <key>spectrumType</key>
    <string>SequencePaintWindLabel</string>
    <key>composerCalibrateTonalSequence</key>
    <string>FabricDataSourceCalibrate</string>
    <key>gridlineClose</key>
    <string>CreatorSchedulerDecoratorMain</string>
</dict>
</plist>
